import("DT");
import("htmlwidgets");

export("CountWordsFreq");
export("TextOverlap");
export("PlainDocGene");
export("PlainDocMining");
export("AddHref");
export("HtmlKeyValue");
export("HtmlGeneFactoid");
export("UrlUcscPosition");
export("UrlDbsnpId");
export("UrlEntrezGene");
export("Symbol2Entrez");
export("PlotQqFromP");
export("PlotQqFromPhred");
export("PlotPCA");
export("PlotVenn");
export("PlotLogScatter");
export("SearchGwasDbById");
export("SearchGwasDbByLoci");
export("SnpPosFromGwasDb");
export("ConnectToGwasDb");
export("CollectGwasDbData");
export("SearchVariantPositionDbById");
export("SearchVariantPositionDbByLoci");
export("ConnectToVariantPositionDb");
export("GroupSamples");
