
export("AddAPCluster");
export("AddHref");
export("BiclusterFromList");
export("CalculateColoredBlockSize");
export("CollectGwasDbData");
export("ConnectToGwasDb");
export("ConnectToVariantPositionDb");
export("ConvertPdf2Png");
export("CalcLmSigma");
export("CountWordsFreq");
export("CreateDatatable");
export("FormatNumeric");
export("GetBluePickogramColors");
export("GetColorPanelTypes");
export("GetColors");
export("GetColorTypes");
export("GetGenomeAlias");
export("GetPrimeColors");
export("GetRowStat");
export("GetRowStatTypes");
export("GroupSamples");
export("HtmlGeneFactoid");
export("HtmlKeyValue");
export("LookupGeneSynonym");
export("MatchPWM");
export("PlainDocGene");
export("PlainDocMining");
export("PlotBarFromList");
export("PlotBoxFromList");
export("PlotColoredBlock");
export("PlotCumulativeFromList");
export("PlotDensityFromList");
export("PlotGroup");
export("PlotGroupTypes");
export("PlotHeatmap");
export("PlotHeatmap.2");
export("PlotLogScatter");
export("PlotMatrixGroup");
export("PlotMatrixGroupBar");
export("PlotMatrixGroupBox");
export("PlotMatrixGroupCumulative");
export("PlotMatrixGroupDensity");
export("PlotMatrixGroupHeatmap");
export("PlotMatrixGroupTypes");
export("PlotPairDiff");
export("PlotPairDiffBar");
export("PlotPairDiffBox");
export("PlotPairDiffDens");
export("PlotPairDiffMa");
export("PlotPairDiffScatter");
export("PlotPairDiffTypes");
export("PlotPCA");
export("PlotPCA2Groups");
export("PlotPCALegend");
export("PlotQqFromP");
export("PlotQqFromPhred");
export("PlotSeries");
export("PlotVenn");
export("PlotVenn3Way");
export("ReformatMotifHits");
export("RemoveExtension"); 
export("RetrieveGadem");
export("ReverseCompHits");
export("RunGap");
export("SearchGwasDbById");
export("SearchGwasDbByLoci");
export("SearchVariantPositionDbById");
export("SearchVariantPositionDbByLoci");
export("SnpPosFromGwasDb");
export("Symbol2Entrez");
export("TestGSE");
export("TextOverlap");
export("TrimPath");
export("TruncatePathPrefix");
export("UrlDbsnpId");
export("UrlEntrezGene");
export("UrlUcscPosition");
export("WrapGSE");
